# Local work folder that is not checked in
_LOCAL/

# docker
.dockerignore

# kleinanzeigen_bot
/config.yaml
/data
/*.log
/src/kleinanzeigen_bot/_version.py
downloaded-ads

# python
/.venv
__pycache__
/build
/dist
/.eggs
/*.egg-info
/.mypy_cache
/.pdm-build/
/.pdm-python
/.ruff_cache

# test coverage
/.coverage
/htmlcov/
/coverage.xml

# Eclipse
/.project
/.pydevproject
/.settings/
**/.*.md.html

# IntelliJ
/.idea
/*.iml
/*.ipr
/*.iws

# Visual Studio Code
/.vscode

# OSX
.DS_Store

# Vim
*.swo
*.swp
