# Local work folder that is not checked in
_LOCAL/

# docker
.dockerignore

# kleinanzeigen_bot
/config.yaml
/data
/*.log
/src/kleinanzeigen_bot/_version.py
downloaded-ads

# python
/.venv
__pycache__
/dist
/.temp
/.eggs
/*.egg-info
/.pdm-build/
/.pdm-python


# Eclipse
/.project
/.pydevproject
/.settings/
**/.*.md.html

# IntelliJ
/.idea
/*.iml
/*.ipr
/*.iws

# Visual Studio Code
/.vscode

# OSX
.DS_Store

# Vim
*.swo
*.swp
